<div class="font-sans w-screen text-center mx-auto">
  <div class="bg-gray-50 pb-12 pt-12 pl-20 pr-20">
    <h1 class="text-4xl font-bold text-gray-800">About Well Loom</h1>
    <p class="text-lg text-gray-600">
      One thing that we all chase is a greater sense of well being. Whether that's through a sense of purpose & finding meaningfulness throughout life, coping with
      life's struggles more skillfully, or feeling good and capable in these vessels we call our bodies, it's something all humans can unite on.
    </p>

    <p class="text-lg text-gray-600 pt-6">
      Well Loom provides a guide through the many ways in which one can improve their sense of well being, helping you identify what benefits (and doesn't
      benefit) you most, and plan for life events that may significantly elevate your experience in this life.
    </p>
  </div>
  <section class="pb-12 pt-12 pr-6 pl-6 bg-white">
    <h2 class="section-title">What is well being?</h2>
    <div class="grid gap-6 sm:grid-cols-3">
      <div class="horizontal-card">
        <span class="material-icons text-red-500 text-4xl mb-2 sm:mb-0 sm:mr-4">favorite</span>
        <div>
          <h3 class="text-xl font-medium text-gray-700">Physical Well-Being</h3>
          <p class="text-gray-600">Nurture your body through exercise, nutrition, and rest so that you can feel at your
            best throughout the day.</p>
        </div>
      </div>
      <div class="horizontal-card">
        <span class="material-icons text-green-500 text-4xl mb-2 sm:mb-0 sm:mr-4">psychology</span>
        <div>
          <h3 class="text-xl font-medium text-gray-700">Mental Well-Being</h3>
          <p class="text-gray-600">Cope with past wounds, enhance mental resilience, and process the challenges of life
            in healthy ways.</p>
        </div>
      </div>
      <div class="horizontal-card">
        <span class="material-icons text-orange-500 text-4xl mb-2 sm:mb-0 sm:mr-4">self_improvement</span>
        <div>
          <h3 class="text-xl font-medium text-gray-700">Spiritual Well-Being</h3>
          <p class="text-gray-600">Connect with what lies beyond your sense of self, and gain unconditional love,
            acceptance, and meaning.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-yellow-50 pb-12 pt-12 pr-6 pl-6">
    <h2 class="section-title">Area to Theory to Practice</h2>
    <div class="flex flex-col sm:flex-row items-centershadow-md rounded-lg p-6">
      <p class="text-gray-600 text-lg text-center">
        Each area of well being contains mountains of theories on how one lives a good life through them, with
        subsequent practices that can help you grow in said areas.
      </p>
    </div>
  </section>

  <section class="bg-white pb-12 pt-12 pr-6 pl-6">
    <h2 class="section-title">This site helps you:</h2>
    <ul class="list-none text-gray-700 text-lg">
      <li class="p-2">Discover theories on and practical approaches to improving well-being</li>
      <li class="p-2">Track what practices seem to help over time</li>
      <li class="p-2">Get recommendations on what to try next based on where you are day-to-day</li>
      <li class="p-2">Discover, prepare for, and process events that may signficantly improve your well being</li>
    </ul>
  </section>

  <section class="bg-red-50 pb-12 pt-12 pr-6 pl-6">
    <h2 class="section-title">Disclaimer</h2>
    <p class="text-gray-600">
      The information provided on Well Loom is for educational purposes only and is not a substitute for professional
      medical or mental health advice. Always consult a qualified professional for personal concerns.
    </p>
  </section>
</div>