<mat-grid-list cols="4">
    <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Area</mat-label>
        <mat-select>
            <mat-option>Replace Me</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Practice Group</mat-label>
        <mat-select>
            <mat-option>Replace Me</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Challenge</mat-label>
        <mat-select>
            <mat-option>Replace Me</mat-option>
        </mat-select>
    </mat-form-field>
</mat-grid-list>