<div class="justify-start mx-auto p-8 space-x-4 flex">
    <mat-form-field>
        <input #searchInput matInput type="search">
        <button matSuffix mat-icon-button aria-label="Search" (click)="searchPractices(searchInput.value)">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Areas</mat-label>
        <mat-select multiple [(value)]="areaIdsSelected" (selectionChange)="areasDropdownFiltered()">
            <!--TODO: Loop through input of practice areas queried from DB to create mat-options w/ value=id-->
            <mat-option value="test">Test</mat-option>
            <mat-option value="test2">Test2</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Practice Groups</mat-label>
        <mat-select multiple [(value)]="practiceGroupIdsSelected" (selectionChange)="practiceGroupsDropdownFiltered()">
            <!--TODO: Loop through input of practice areas queried from DB to create mat-options w/ value=id-->
            <mat-option value="test">Test</mat-option>
            <mat-option value="test2">Test2</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Challenges</mat-label>
        <mat-select multiple [(value)]="challengeIdsSelected" (selectionChange)="challengesDropdownFiltered()">
            <!--TODO: Loop through input of practice areas queried from DB to create mat-options w/ value=id-->
            <mat-option value="test">Test</mat-option>
            <mat-option value="test2">Test2</mat-option>
        </mat-select>
    </mat-form-field>
</div>